<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="github.javaappplatform.eclipse.project.classpath.JAPClasspathContainerInitializer"
            id="github.javaappplatform.eclipse.project.classpath.JAPClasspathContainer">
      </classpathContainerInitializer>
   </extension>
   <extension
         id="github.javaappplatform.eclipse.project.builder.Nature"
         name="Java App Platform Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="github.javaappplatform.eclipse.project.builder.Nature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
</plugin>
